body {
  height: 100vh;
  overflow: hidden;
}

ul.header {
  margin-top: 20px;
}

.index-container {
  height: calc(100vh - 74px) !important;
  margin-top: 74px;
}

.index-color-block {
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #ccc;
  display: inline-block;
  opacity: 0.8;
  position: fixed;
  top: 395px;
  left: 0;
  height: 200px;
  width: 800px;
  z-index: -1;
}

.nav-color-block {
  background-color: #3f6c51;
  padding: 20px;
  border: none;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 800px;
  z-index: -1;
}

.index-text {
  display: flex;
  top: 440px;
  left: 400px;
  color: #d8b863;
  font-size: 40px;
  position: absolute;
  font-family: 'Century Gothic';
}

.main-container {
  height: calc(100vh - 74px) !important;
  background-color: #fff !important;
  margin-top: 74px;
  padding-top: 20px;
}

.main-container::before {
  content: "";
  background-image: url('https://i.natgeofe.com/n/a23baf47-dec2-4ecd-8466-fc7b2c7806bd/plane-flight-path-munich-01_16x9.jpg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

.index-planner-container {
  background-color: #efe8ae;
  padding: 48px;
  width: 480px;
  border-radius: 15px;
  margin-top: 50px;
  font-size: 12px;
}

.big-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1750px;
  color: white;
  text-decoration: none;
  background-color: #3F6C51;
        color: white;
        padding: 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
}

.big-button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1750px;
  color: white;
  text-decoration: none;
  background-color: #800000;
        color: white;
        padding: 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
}

.big-button:hover {
  background-color: #4cae4c;
  color: white;
}

.big-button2:hover {
  background-color: #a30404;
  color: white;
}

.just-button {
  position: absolute;
  bottom: 203px;
  right: 1130px;
}

.loading-travel {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
  position: fixed;
  left: 300px;
  top: 30px;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #3f6c51;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.fireworks {
  position: absolute;
  bottom: 95px;
  left: 600px;
}

.travel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  color: white;
  text-decoration: none;
  background-color: #3F6C51;
        color: white;
        padding: 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
  position: absolute;
  top: 100px;
  left: -50px;
  text-align: center;
}

.travel-header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1800px;
  color: white;
  text-decoration: none;
  background-color: #800000;
        color: white;
        padding: 20px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
  position: absolute;
  top: 100px;
  left: -50px;
  text-align: center;
}

.travel-table {
  font-size: 14px;
  top: 180px;
}

.travel-image {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  scale: 0.3;
  position: absolute;
  margin-top: 10px;
}
.travel-image2 {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  scale: 0.35;
  position: absolute;
  margin-top: 10px;
}

.travel-image3 {
  display: block;
  margin: 50px auto;
  max-width: 100%;
  scale: 0.35;
  position: absolute;
  margin-top: 10px;
  bottom: -320px;
  left: 150px;
}

.background-plane {
  z-index: -1;
}

.data-input-container {
  background-color: #efe8ae;
  padding: 48px;
  width: 500px;
  border-radius: 15px;
  margin-top: 50px;
  font-size: 12px;
}

.data-input-field input {
  height: 30px;
}

.data-input-field input::placeholder {
  font-size: 12px;
}

.admin-block-container {
  background-color: #efe8ae;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px #00000021;
}

.admin-block-container h2 {
  color: #8f8f8f;
}

.admin-block-container hr {
  color: #8f8f8f;
}

.btn-planner-search {
  background-color: #3F6C51;
  padding: 12px 24px !important;
  font-size: 12px !important;
}

.btn-red {
  padding: 12px 24px !important;
  font-size: 12px !important;
  height: 42px;
  background-color: #a30404;
  display: block;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  border: none;
  color: white;
  border: 1px solid transparent;
  border-radius: .5rem;
  width: auto;
}

.btn-red:hover {
  background-color: #ba0707;
}

.btn-index {
  padding: 12px 24px !important;
  font-size: 25px !important;
  background-color: #8eb8e5;
  margin-top: 50px;
  border: none;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 190px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 220px;
  display: block;
  border: 1px solid transparent;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
}

.btn-index:hover {
  background-color: #a3cfff;
}

.btn-index2 {
  padding: 12px 24px !important;
  font-size: 25px !important;
  background-color: #7c99b4;
  margin-top: 50px;
  border: none;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 300px;
  display: block;
  border: 1px solid transparent;
  border-radius: .5rem;
  transition: background-color 0.3s ease;
}

.btn-index2:hover {
  background-color: #90b0cf;
}


.gtco-nav a {
  text-decoration: none;
}

#smagumo-karusele {
  width: 71%;
  margin: 0 auto;
  border-radius: 54px
}

.carousel-inner {
  border-radius: 20px;
  height: 480px;
}

#cs-footer {
  position: fixed;
  bottom: 0;
  background: linear-gradient(90deg, rgb(220, 232, 244) 5%, rgb(255, 255, 255) 60%) !important;
  height: 70px;
  line-height: 36px;
  width: 100%;
  z-index: 11;
  border-top: 1px solid #f4f4f4;
  opacity: 0.9;
}

.footer-link {
  text-decoration: none;
  font-size: 11px;
  position: fixed;
  margin-top: 15px;
}

label {
  font-weight: normal !important;
}

.form-input {
  height: 34px !important;
  font-size: 14px !important;
}

.footer-encrypt-label {
  text-align: right;
  position: fixed;
  padding-top: 15px;
}

.form-label {
  font-size: 14px !important;
}

.footer-style {
  color: blue;
  
}

.smagumo-review {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17px;
  color: white;
  padding: 12px 40px;
  background-color: black;
  width: 100%;
}

.white-nav-box {
	background-color: white;
    width: 320px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0
}

#timer {
  display: none;
}

.logo {
	height: 75px;
  line-height: 74px;
  /* display: table-column; */
  position: absolute;
  top: -21px;
  background-color: none;
  display: inline-block;
}

.logo-index {
	height: 180px;
  line-height: 74px;
  position: absolute;
  top: 400px;
  left: 200px;
  background-color: none;
  display: inline-block;
}

.index-header-name {
  position: fixed;
  left: 53px;
  top: 16px;
  font-size: 33px;
  color: white;
  font-weight: bold;
}

.carousel-img {
	height: 480px;
}

.ad-banner-img-left {
	height: 560px;
    position: absolute;
    top: 149px;
    left: 100px;
    z-index: 200;
	border-radius: 20px;
  right:20px;
  top:225px;
}

.ad-banner-img-right {
	height: 560px;
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 200;
	border-radius: 20px;
  top: 225px;
}

#page {
	position: relative;
}

.footer-sec-badge {
  position: absolute;
  top: 14px;
  left: -100px;
  height: 35px;
}

.footer-sec-badge2 {
  position: absolute;
  top: 0;
  left: -10px;
  height: 70px;
}

.gtco-container {
 padding-left: 80px !important;
}

.payment-gateways-icon {
  height: 140px;
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  display: block;
  margin-top: 10px;
}