body {
  height: 100vh;
}

.index-container {
  height: calc(100vh - 74px) !important;
  margin-top: 74px;
}

.main-container {
  height: calc(100vh - 74px) !important;
  background-color: #fff !important;
  margin-top: 74px;
  padding-top: 20px;
}

.index-planner-container {
  background-color: #fff;
  padding: 48px;
  width: 480px;
  border-radius: 15px;
  margin-top: 50px;
}

.btn-planner-search {
  background-color: #3F6C51;
  padding: 12px 24px !important;
}

.gtco-nav a {
  text-decoration: none;
}

#smagumo-karusele {
  width: 71%;
  margin: 0 auto;
  border-radius: 54px
}

.carousel-inner {
  border-radius: 20px;
  height: 480px;
}

#cs-footer {
 position: fixed;
 bottom: 0;
 background-color: white !important;
 height: 36px;
 width: 100%;
}