body {
  height: 100vh;
}

.index-container {
  height: calc(100vh - 74px) !important;
  margin-top: 74px;
}

.main-container {
  height: calc(100vh - 74px) !important;
  background-color: #fff !important;
  margin-top: 74px;
  padding-top: 20px;
}

.index-planner-container {
  background-color: #fff;
  padding: 48px;
  width: 480px;
  border-radius: 15px;
  margin-top: 50px;
}

.data-input-container {
  background-color: #efe8ae;
  padding: 48px;
  width: 500px;
  border-radius: 15px;
  margin-top: 50px;
}

.data-input-field input {
  height: 30px;
}

.data-input-field input::placeholder {
  font-size: 12px;
}

.admin-block-container {
  background-color: white;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px #00000021;
}

.admin-block-container h2 {
  color: #8f8f8f;
}

.admin-block-container hr {
  color: #8f8f8f;
}

.btn-planner-search {
  background-color: #3F6C51;
  padding: 12px 24px !important;
}

.gtco-nav a {
  text-decoration: none;
}

#smagumo-karusele {
  width: 71%;
  margin: 0 auto;
  border-radius: 54px
}

.carousel-inner {
  border-radius: 20px;
  height: 480px;
}

#cs-footer {
  position: fixed;
  bottom: 0;
  background-color: white !important;
  height: 36px;
  line-height: 36px;
  width: 100%;
  z-index: 11;
  border-top: 1px solid #f4f4f4;
}

.footer-link {
  text-decoration: none;
  font-size: 11px;
}

label {
  font-weight: normal !important;
}

.form-input {
  height: 30px !important;
}

.footer-encrypt-label {
  text-align: right;
}